<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h>Login</h>
           <% if (locals.error) { %>
                         <h1>Invalid username or password</h1>
           <% } %>
           <form method="POST" action="/user/login">
            <label>enter email</label>
            <input type="text" required name ="email"/>
            <label>enter password</label>
            <input type="text" required name ="password" />
            <button type="submit"> Login </button>
           </form>
</body>
</html>