<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
        <h>Sign up</h>
        <form method="POST" action="/user">
               <label>full name</label>
               <input type="text" required name = "name"/>
               <label>email</label>
               <input type = "text" required name ="email"/>
               <label>password</label>
               <input type = "text" required name ="password"/>

               <button type ="submit">Sign up</button>
        </form>
</body>
</html>